* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: aliceblue;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
}

.block {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
    transition: box-shadow, background-color .3s;
}

.block:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 15px 15px 15px;

}

.btm {
    
    margin-top: 20px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}